.ptagbox {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 0;
    z-index: 9;
    padding: 24px 0px 0;
}
.ptagbox p{ color: #fff; font-size: 17px; }