<div class="subbanner_area" style="background-image:url(assets/images/innerbanner.jpg);">
  <div class="container">
      <!-- <h2>Live  </h2> -->
    </div>
 </div>

 <div class="mainarea p-9">
   <div class="container">
     <div class="sermon_dtles">
        <h2>{{service_live?.title}} </h2>
        <iframe width="" height="" [src]="embedurl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
      <div class="sermontexbox">
         <div class="dated"><i class="far fa-clock"></i> {{service_live?.updated_at | date:'MMM dd, yyyy'}} </div>
         <h5>Passage: <span>{{service_live?.passage}}</span></h5>
         <p [innerHtml]="service_live?.long_description"></p>
         <!-- <div class="btnarea">
           <a data-fancybox href="#media5" class="btn btn-light" >Listen</a>
           <a  data-fancybox href="https://youtu.be/qQYuVfAJ4zY" class="btn btn-light bg1">Watch</a>
         </div> -->
       </div>
     </div>
   </div>
 </div>
 <div id="media5" class="" style="display: none;">
     <audio controls>
  <source src="https://d34x6xks9kc6p2.cloudfront.net/540997b0-a35f-4b69-86d6-b1c925c4a264/540997b0-a35f-4b69-86d6-b1c925c4a264.mp3" type="audio/ogg">
  <source src="https://d34x6xks9kc6p2.cloudfront.net/540997b0-a35f-4b69-86d6-b1c925c4a264/540997b0-a35f-4b69-86d6-b1c925c4a264.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
    </div>
     <ngx-spinner bdColor="rgb(51 51 51 / 28%)" size="default" type="ball-spin-clockwise">  
    <!-- <p style="color: white">Please Wait. </p> -->  
    </ngx-spinner>
