<div class="subbanner_area" style="background-image:url(assets/images/innerbanner.jpg);">
  <div class="container">
      <h2>Sermon Details  </h2>
    </div>
 </div>

 <div class="mainarea p-9">
   <div class="container">
     <div class="sermon_dtles">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <iframe width="" height="" src="https://www.youtube.com/embed/qQYuVfAJ4zY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="sermontexbox">
         <div class="dated"><i class="far fa-clock"></i> Jan 22, 2021 </div>
         <h5>Passage: <span>Psalms 119:67</span></h5>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
         <div class="btnarea">
           <a type="submit" class="btn btn-light">Listen</a>
           <a type="submit" class="btn btn-light bg1">Watch</a>
         </div>
       </div>
     </div>
   </div>
 </div>
